@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  font-family: Poppins, sans-serif;
  color: #344563;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: fit-content;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #7f8cff;
}

li {
  list-style: none;
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  display: flex;
  color: #091e42;
  padding: 1.5rem;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: #f7f7f9;
  overflow-x: hidden;
}

/* Header */

.connect {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.menu {
  display: none;
}

/* Flexbox nav */

.header {
  background: #fff;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: baseline;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1.5em;
  align-items: baseline;
  justify-self: flex-start;
  color: #6070ff;
}

.logo {
  font-size: 1.15rem;
  font-weight: 700;
  color: #6070ff;
}

.headline {
  background-image: url(./resources/header-shapes\ mobile@2x.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 86vh;
  justify-content: center;
}

.headline-background {
  background: #fff;
  border-radius: 0 0 0 6rem;
  margin-bottom: 2em;
}

.header-content {
  padding: 1.5rem;
}

.socials {
  display: flex;
  max-width: 50%;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.hamburger-menu {
  font-size: 1.75em;
  color: #6070ff;
}

/* Works */

.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100vw;
  justify-items: center;
  grid-gap: 2rem;
}

.hashtag-card {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  flex-wrap: wrap;
}

.hashtag {
  border-radius: 1rem;
  background-color: #ebebff;
  color: #6070ff;
  padding: 0.4em;
  margin: 0.5em 0.5em 0.5em 0;
  font-weight: 500;
}

.card {
  background: #fff;
  border-radius: 1rem;
  border: 1px solid #dfe1e6;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  max-width: calc(100vw - 4rem);
}

.project-image {
  padding: 0 0 1rem 0;
  display: flex;
  width: 75%;
}

.project-title {
  color: #172b4d;
}

.card-categories {
  padding: 0.5rem 0;
  display: flex;
}

.main-category {
  color: #344563;
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.sec-category {
  color: #7a869a;
  font-size: 0.8125rem;
  font-weight: 600;
}

.counter-card {
  margin: 0 0.5rem;
}

.descr {
  display: flex;
}

/* Buttons */

.see-project {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #396df2;
  line-height: 1.5em;
  background-color: #fff;
  border-radius: 0.5em;
  border: 1px solid #396df2;
  padding: 0.5rem;
  align-self: start;
}

.see-project:hover {
  color: #fff;
  background-color: #396df2;
  transition: 0.1s;
}

.see-project:active {
  background-color: #2230d2;
}

.see-project:disabled {
  color: #5e6c84;
  background-color: #5e6c84;
}

/* About */

.about-section {
  background: #fff;
  border-radius: 0 6rem 0 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.about-title {
  padding: 1rem 0;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.resume {
  margin-top: 0.5em;
}

.list-title {
  display: flex;
  list-style: none;
  font-weight: 500;
  font-size: 1.2em;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin-bottom: 1.5rem;
}

.sublist {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.skill-list {
  padding: 1rem 0 0 0;
}

.subitem {
  display: flex;
  background: #f7f7f9;
  border-radius: 0.5em;
  margin-bottom: 0.75em;
  align-items: center;
}

.skill-logo {
  height: 3em;
  margin-right: 1em;
  display: flex;
}

.about-info {
  padding: 2rem;
  margin: 1.5rem;
}

/* Contact form */

.contact-section {
  border-radius: 6rem 0 0 0;
  margin-top: 2em;
  width: 100vw;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  background-image: url(./resources/contact-form-shapes-mobile.svg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.contact-text {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 1rem 0;
  min-width: 350px;
  width: 50vw;
}

.contact-title {
  margin-top: 5rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fs-frm-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: none;
  min-width: 350px;
  width: 50vw;
}

label {
  display: none;
}

input {
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 1px 1px 1px #999;
  border-radius: 1rem;
  appearance: none;
  border: none;
}

textarea {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
  appearance: none;
  resize: none;
  border: none;
  box-shadow: 1px 1px 1px #999;
}

.divider-desktop {
  display: none;
}

/* Desktop */

@media all and (min-width: 65em) {
  .hamburger-menu {
    display: none;
  }

  .navbar {
    padding: 2em 5em;
  }

  .menu {
    display: flex;
    width: 25%;
    justify-content: space-between;
  }

  .menu-item {
    margin: 0 1rem;
    font-size: 1rem;
    color: #344563;
    font-weight: 500;
  }

  .wrapper {
    min-width: 50rem;
    max-height: 100%;
  }

  .headline {
    background-image: url(./desktop-resources/Headerbg@2x.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 5em;
  }

  .card {
    justify-content: stretch;
    width: calc(80vw - 4rem);
  }

  .card:hover {
    border: solid 2px #a7aeff;
  }

  .card-1,
  .card-3 {
    flex-direction: row-reverse;
  }

  .card-0,
  .card-2 {
    flex-direction: row;
  }

  .project-image {
    width: 50%;
  }

  .card-content {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  .hashtag-card {
    padding: 2rem 0;
    font-size: 0.9rem;
  }

  .about-section {
    flex-direction: row;
    justify-content: center;
    padding: 9rem;
  }

  .contact-section {
    background-image: url(./desktop-resources/contact-form-background-shapes@2x.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sublist {
    flex-direction: row;
  }

  .subitem {
    padding: 0.5rem 2rem 2rem 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 1rem 1rem 0;
    width: 7rem;
  }

  .about-title {
    margin-top: 0;
    padding-left: 0;
  }

  .about-info {
    width: 50%;
    margin-top: 0;
  }

  .about-content {
    width: 50%;
  }

  .get-in-touch {
    align-self: center;
  }

  .divider-mobile {
    display: none;
  }

  .contact-content {
    padding: 0 2rem;
    margin: 0 1rem;
  }

  .divider-desktop {
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
  }

  .connect {
    padding: 1rem 0;
  }

  .socials {
    max-width: 30%;
  }

  input,
  textarea {
    border-radius: 0;
  }
}

/* Dynamic menu */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #6070ff;
  background-color: #6070ffe6;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 0;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: start;
  left: 2.5rem;
  margin-top: 1.85rem;
}

.overlay a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-weight: 500;
}

.overlay a:hover,
.overlay a:focus {
  color: orange;
}

.overlay .closebtn {
  position: absolute;
  top: 1.3rem;
  right: 3rem;
  font-size: 3.75rem;
}

@media screen and (max-height: 30rem) {
  .overlay a {
    font-size: 1.3rem;
  }

  .overlay .closebtn {
    font-size: 2.5rem;
    top: 1rem;
    right: 1.5rem;
  }
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0.5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #7a869ae6;
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.5rem 1rem;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-color: #fff;
  border-radius: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
  border-bottom: none;
  height: 10vh;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 2px 16px;
}

.modal-text {
  display: flex;
}

.modal-text-left {
  width: 66%;
}

.modal-text-right {
  width: 34%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.modal-image {
  width: 100%;
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem 0;
}

.modal-divider {
  height: 1px;
  border: none;
  background-color: #ebecf0;
}

.modal-button-inside {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.hashtag-modal {
  display: flex;
  justify-content: space-evenly;
}

.image-button {
  padding: 0 0.5rem;
}

.close {
  color: #7a869a;
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

@keyframes zoomin {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomin {
  -webkit-animation-name: zoomin;
  animation-name: zoomin;
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Modal mobile */
@media all and (max-width: 35rem) {
  .modal-buttons {
    flex-direction: column;
    font-size: 1rem;
  }
}

@media all and (max-width: 65rem) {
  .modal-text {
    flex-direction: column;
    font-size: 0.7rem;
  }

  .modal-text-left {
    width: 100%;
  }

  .modal-text-right {
    width: 100%;
    padding-left: 0;
  }

  .modal-divider {
    margin: 1rem 0;
  }

  .modal-buttons {
    flex-direction: row;
    font-size: 1rem;
  }

  .modal-button-inside {
    font-size: 0.8rem;
    padding: 0.5rem 0.4rem;
    width: 45%;
    display: flex;
    justify-content: center;
  }
}

/* Visibility Toggle */
.email-error{
  color: #ffff;
  padding: 0 1rem;
  font-size: 1;
  border: #f14241, 1px;
  background-color: #F14241;
  border-radius: 1rem;
}
